on boot
     chown system system /mnt/vendor/persist/sensors/lightSensorCali.json
     chown system system /mnt/vendor/persist/sensors/lightSensorCaliSec.json
     chown system system /mnt/vendor/persist/sensors/lightSensorCaliThird.json
     chown system system /mnt/vendor/persist/sensors/lightSensorCaliFourth.json
